li {
  list-style: none;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

button {
  margin: 50px;
  background-color: rgb(168, 240, 168);
}
ul {
  padding: 0;
}

.timer {
  display: flex;
}
.field {
  display: flex;
  align-items: baseline;
}
.field:not(:last-child) {
  margin-right: 50px;
}

.value {
  margin-right: 10px;
  font-size: large;
  font-weight: 700;
}
